




/* *{
    margin:0;
    padding:0;
    background-color:#E3ECC9;
    /* font-family:"moonspace";
    font-weight:500;
    font-size:17px; */

/* } */
/* nav{
    display:inline-flex; */
    /* margin-left:0px; */
    /* justify-content:space-between; */
/* }.nav-title{
    margin-left:0px;
    color:red; */
/* }
li,button{
    font-family:"moonspace";
    font-weight:500;
    font-size:17px;
    color:254936;
    text-decoration:none;
    display:inline;
    justify-content:space-between;


}
header{
    display:inline-flex;
    justify-content:space-between;
    align-items:center;
    padding: 30px 10%;
}
.nav-links{
    list-style:none;
}  */